In [34]:
# 지하철데이터 가공
import pandas as pd 
import numpy as np

In [35]:
# 현재 작업중인 폴더 위치 확인 
import os
os.getcwd()

'c:\\Users\\JSSON\\JS_Python'

In [36]:
# 컬럼 정의 
df1_2019 = pd.read_excel("./02.team_project_data/도시철도여객수송/철도통계_서울도시철도공사_2019.xls", skiprows=3, skipfooter=2)
columns = ["연도","기관","역명","호선","합계_승차인원","합계_하차인원","1월_승차인원","1월_하차인원","2월_승차인원","2월_하차인원","3월_승차인원","3월_하차인원","4월_승차인원","4월_하차인원","5월_승차인원","5월_하차인원","6월_승차인원","6월_하차인원","7월_승차인원","7월_하차인원","8월_승차인원","8월_하차인원","9월_승차인원","9월_하차인원","10월_승차인원","10월_하차인원","11월_승차인원","11월_하차인원","12월_승차인원","12월_하차인원"]

In [38]:
df1.columns = columns

In [48]:
# 서울도시철도 공사 데이터 읽어오기
df1_2019 = pd.read_excel("./02.team_project_data/도시철도여객수송/철도통계_서울도시철도공사_2019.xls", skiprows=3, skipfooter=2)
df1_2020 = pd.read_excel("./02.team_project_data/도시철도여객수송/철도통계_서울도시철도공사_2020.xls", skiprows=3, skipfooter=2)
df1_2021 = pd.read_excel("./02.team_project_data/도시철도여객수송/철도통계_서울도시철도공사_2021.xls", skiprows=3, skipfooter=2)

In [ ]:
# df1_2019.columns = columns
# 아름답게 함수로 생성하고 싶었으나 마음이 급했으므로 걍 코딩 .....

In [49]:
# 서울메트로 데이터 읽어오기
df2_2019 = pd.read_excel("./02.team_project_data/도시철도여객수송/철도통계_서울메트로_2019.xls", skiprows=3, skipfooter=2)
df2_2020 = pd.read_excel("./02.team_project_data/도시철도여객수송/철도통계_서울메트로_2020.xls", skiprows=3, skipfooter=2)
df2_2021 = pd.read_excel("./02.team_project_data/도시철도여객수송/철도통계_서울메트로_2021.xls", skiprows=3, skipfooter=2)

In [50]:
# 9호선 데이터 읽어오기
df3_2019 = pd.read_excel("./02.team_project_data/도시철도여객수송/철도통계_9호선_2019.xls", skiprows=3, skipfooter=2)
df3_2020 = pd.read_excel("./02.team_project_data/도시철도여객수송/철도통계_9호선_2020.xls", skiprows=3, skipfooter=2)
df3_2021 = pd.read_excel("./02.team_project_data/도시철도여객수송/철도통계_9호선_2021.xls", skiprows=3, skipfooter=2)

In [51]:
# 공항철도 데이터 읽어오기
df4_2019 = pd.read_excel("./02.team_project_data/도시철도여객수송/철도통계(공항철도)_2019.xls", skiprows=3, skipfooter=2)
df4_2020 = pd.read_excel("./02.team_project_data/도시철도여객수송/철도통계(공항철도)_2020.xls", skiprows=3, skipfooter=2)
df4_2021 = pd.read_excel("./02.team_project_data/도시철도여객수송/철도통계(공항철도)_2021.xls", skiprows=3, skipfooter=2)

In [52]:
df1_2019.columns = columns
df1_2020.columns = columns
df1_2021.columns = columns

df2_2019.columns = columns
df2_2020.columns = columns
df2_2021.columns = columns

df3_2019.columns = columns
df3_2020.columns = columns
df3_2021.columns = columns

df4_2019.columns = columns
df4_2020.columns = columns
df4_2021.columns = columns

In [78]:
# df1_2019.info() # 157
# df1_2020.info() # 157
# df1_2021.info() # 156,  470
# df2_2020.info() # 120 120 120 360
# df3_2021.info() # 25, 25, 25 75
# df4_2021.info() # 11, 11, 11 33

In [64]:
df1_dts = pd.concat([df1_2019, df1_2020, df1_2021], ignore_index=True)
df2_dts = pd.concat([df2_2019, df2_2020, df2_2021], ignore_index=True)
df3_dts = pd.concat([df3_2019, df3_2020, df3_2021], ignore_index=True)
df4_dts = pd.concat([df4_2019, df4_2020, df4_2021], ignore_index=True)

In [81]:
df_total_dts = pd.concat([df1_dts, df2_dts, df3_dts, df4_dts], ignore_index=True)

In [84]:
# df_total_dts.info()
df_total_dts.to_excel("metro_data_set.xlsx")

In [106]:
df_total_dts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 938 entries, 0 to 937
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연도        938 non-null    int64
 1   기관        938 non-null    object
 2   역명        938 non-null    object
 3   호선        938 non-null    object
 4   합계_승차인원   938 non-null    int64
 5   합계_하차인원   938 non-null    int64
 6   1월_승차인원   937 non-null    float64
 7   1월_하차인원   905 non-null    float64
 8   2월_승차인원   937 non-null    float64
 9   2월_하차인원   905 non-null    float64
 10  3월_승차인원   937 non-null    float64
 11  3월_하차인원   905 non-null    float64
 12  4월_승차인원   937 non-null    float64
 13  4월_하차인원   905 non-null    float64
 14  5월_승차인원   937 non-null    float64
 15  5월_하차인원   905 non-null    float64
 16  6월_승차인원   937 non-null    float64
 17  6월_하차인원   905 non-null    float64
 18  7월_승차인원   937 non-null    float64
 19  7월_하차인원   905 non-null    float64
 20  8월_승차인원   937 non-null    float64
 21  8월_하차인원   905 non-null    float64
 22  9월_승차인원   937 non-null    float64
 23  9월_하차인원   905 non-null    float64
 24  10월_승차인원  937 non-null    float64
 25  10월_하차인원  905 non-null    float64
 26  11월_승차인원  937 non-null    float64
 27  11월_하차인원  905 non-null    float64
 28  12월_승차인원  937 non-null    float64
 29  12월_하차인원  905 non-null    float64
dtypes: float64(24), int64(3), object(3)
memory usage: 220.0+ KB

In [85]:
df_total_dts.columns

Index(['연도', '기관', '역명', '호선', '합계_승차인원', '합계_하차인원', '1월_승차인원', '1월_하차인원',
       '2월_승차인원', '2월_하차인원', '3월_승차인원', '3월_하차인원', '4월_승차인원', '4월_하차인원',
       '5월_승차인원', '5월_하차인원', '6월_승차인원', '6월_하차인원', '7월_승차인원', '7월_하차인원',
       '8월_승차인원', '8월_하차인원', '9월_승차인원', '9월_하차인원', '10월_승차인원', '10월_하차인원',
       '11월_승차인원', '11월_하차인원', '12월_승차인원', '12월_하차인원'],
      dtype='object')

In [93]:
df_total_dts2=df_total_dts[['연도', '역명', '호선', '합계_승차인원', '합계_하차인원', '1월_승차인원', '1월_하차인원',
       '2월_승차인원', '2월_하차인원', '3월_승차인원', '3월_하차인원', '4월_승차인원', '4월_하차인원',
       '5월_승차인원', '5월_하차인원', '6월_승차인원', '6월_하차인원', '7월_승차인원', '7월_하차인원',
       '8월_승차인원', '8월_하차인원', '9월_승차인원', '9월_하차인원', '10월_승차인원', '10월_하차인원',
       '11월_승차인원', '11월_하차인원', '12월_승차인원', '12월_하차인원']]

In [94]:
df_total_dts2.columns

Index(['연도', '역명', '호선', '합계_승차인원', '합계_하차인원', '1월_승차인원', '1월_하차인원', '2월_승차인원',
       '2월_하차인원', '3월_승차인원', '3월_하차인원', '4월_승차인원', '4월_하차인원', '5월_승차인원',
       '5월_하차인원', '6월_승차인원', '6월_하차인원', '7월_승차인원', '7월_하차인원', '8월_승차인원',
       '8월_하차인원', '9월_승차인원', '9월_하차인원', '10월_승차인원', '10월_하차인원', '11월_승차인원',
       '11월_하차인원', '12월_승차인원', '12월_하차인원'],
      dtype='object')

In [100]:
df_total_dts2=df_total_dts2.sort_values(['연도', '호선', '역명'])

In [102]:
# df_total_dts2.to_excel("metro_data_set2.xlsx")

In [1]:
# df_total_dts2.info()

In [126]:
year_2019 = df_total_dts2.loc[df_total_dts2['연도'] == 2019]

In [131]:
subway_name_count = year_2019['역명'].value_counts()

In [132]:
subway_name_count.to_excel('subway_name_count.xlsx')

In [133]:
# 2019년 데이터로 TEST 진행.... 정규표현식 사용 테스트
year_2019.columns

Index(['연도', '역명', '호선', '합계_승차인원', '합계_하차인원', '1월_승차인원', '1월_하차인원', '2월_승차인원',
       '2월_하차인원', '3월_승차인원', '3월_하차인원', '4월_승차인원', '4월_하차인원', '5월_승차인원',
       '5월_하차인원', '6월_승차인원', '6월_하차인원', '7월_승차인원', '7월_하차인원', '8월_승차인원',
       '8월_하차인원', '9월_승차인원', '9월_하차인원', '10월_승차인원', '10월_하차인원', '11월_승차인원',
       '11월_하차인원', '12월_승차인원', '12월_하차인원'],
      dtype='object')

In [134]:
import re

In [137]:
with open('./02.team_project_data/역명_test.txt', mode='r', encoding='utf-8') as file:
    dt_txt=file.read()

In [149]:
# pt = re.compile(r"[(]+\w+[)]")

In [139]:
dt_list=dt_txt.split("\n")

In [142]:
" ".join(dt_list)

'김포공항 동대문역사문화공원 을지로3가 충무로 사당 가락시장 동작 동대문 고속터미널 동묘앞 당산 교대 종로3가 신설동 서울역 시청 오금 여의도 대림 혜화 을지로4가 발산 역촌 강동 논현 상월곡 선유도 효창공원앞 디지털미디어시티(공항철도) 수락산 잠실(8) 이대 명일 삼각지 공항시장 이수 대림(7) 거여 검암 국회의사당 중화 흑석 동대입구 한성대입구 영등포구청(5) 남성 디지털미디어시티 새절 신용산 구의 공덕(6) 염창 명동 공항화물청사 까치산(5) 광화문 서대문 신촌 태릉입구(7) 신사 복정(8) 약수(6) 영등포시장 산성 태릉입구(6) 대청 홍제 행당 선릉 망원 성수 보문 뚝섬유원지 인천국제공항 암사 고속터미널(7) 한강진 안암 용답 수진 사평 숙대입구 모란(8) 연신내 길음 상봉 문정 개롱 신목동 불광(6) 양천향교 석계(6) 왕십리(5) 까치울 서초 신길(5) 창동 쌍문 구산 돌곶이 일원 운서 내방 송파 매봉 삼성 상도 미아삼거리 이촌 뚝섬 장지 회현 낙성대 하계 경찰병원 약수 천호(8) 장한평 청담 천호(5) 부천종합운동장 합정 강남 독바위 계양 월드컵경기장 가산디지털단지(7) 양천구청 광명사거리 버티고개 금호 종로5가 응암 홍대입구(공항철도) 봉천 숭실대입구 부천시청 청량리(지하) 먹골 목동 도곡 제기동 합정(6) 굴포천 대치 몽촌토성 천왕 창신 종합운동장 노원(7) 총신대입구 성신여대입구 양재 어린이대공원 남구로 공덕(5) 마들 불광 삼각지(6) 종각 신대방 마곡나루 상수 오목교 녹번 잠원 미아 옥수 영등포구청 한양대 가양 사가정 보라매 건대입구 건대입구(7) 올림픽공원 신풍 군자(5) 장승배기 상일동 마장 왕십리 신흥 남태령 여의나루 아차산 우장산 연신내(6) 마포구청 신방화 당고개 증미 삼산체육관 신도림 신천 독립문 구로디지털단지 군자(7) 지축 둔촌동 상왕십리 방화 안국 대흥 반포 도봉산(7) 마곡 신림 구반포 수유 구파발 강동구청 청라국제도시 노원 잠실 강변 수서 학동 공릉 신대방삼거리 송정 남한산성입구 답십리 노량진 신답 홍대입구 을지로입구 방이 종로3가(5) 온수(7) 석촌 중계 월곡 충정로(5) 굽은다리 문래 고려대 단대오거리 개화 중곡 부평구청 면목 녹사평 등촌 방배 신금호 역삼 아현 서울역(공항철도) 길동 광나루 신정 신당(6) 경복궁 이태원 신정네거리 강남구청 공덕(공항철도) 충정로 압구정 샛강 신논현 봉화산 노들 동대문역사문화공원역(5) 애오개 철산 청구(6) 고덕 무악재 신중동 증산 학여울 개화산 상동 서울대입구 용두 청구(5) 양평 남부터미널 신당 마천 용마산 화랑대 을지로4가(5) 화곡 장암 마포 광흥창 상계 도림천 춘의 잠실나루 신반포 '

In [157]:
test_dt=year_2019[['역명', '호선']][1:20]

In [160]:
# 정규표현식을 사용해서 종로3가(5) 괄호 내용을 제외하고 역만 추출
test_dt['test']=test_dt['역명'].str.replace(r"[(]+\w+[)]", '')

<ipython-input-160-368e39de5497>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  test_dt['test']=test_dt['역명'].str.replace(r"[(]+\w+[)]", '')

In [162]:
df_total_dts2.columns

Index(['연도', '역명', '호선', '합계_승차인원', '합계_하차인원', '1월_승차인원', '1월_하차인원', '2월_승차인원',
       '2월_하차인원', '3월_승차인원', '3월_하차인원', '4월_승차인원', '4월_하차인원', '5월_승차인원',
       '5월_하차인원', '6월_승차인원', '6월_하차인원', '7월_승차인원', '7월_하차인원', '8월_승차인원',
       '8월_하차인원', '9월_승차인원', '9월_하차인원', '10월_승차인원', '10월_하차인원', '11월_승차인원',
       '11월_하차인원', '12월_승차인원', '12월_하차인원'],
      dtype='object')

In [163]:
df_total_dts2['역명']=df_total_dts2['역명'].str.replace(r"[(]+\w+[)]", '')

<ipython-input-163-282d7a2dd5c4>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_total_dts2['역명']=df_total_dts2['역명'].str.replace(r"[(]+\w+[)]", '')

In [166]:
# df_total_dts2.to_excel('metro_data_set3.xlsx')

In [168]:
df_total_dts2['역명'].value_counts()

종로3가     9
김포공항     9
고속터미널    9
공덕       9
서울역      9
        ..
마포       3
광흥창      3
상계       3
모란       3
신반포      3
Name: 역명, Length: 269, dtype: int64

In [169]:
df_total_dts2[df_total_dts2['역명'] == '종로3가']

,연도,역명,호선,합계_승차인원,합계_하차인원,1월_승차인원,1월_하차인원,2월_승차인원,2월_하차인원,3월_승차인원,...,8월_승차인원,8월_하차인원,9월_승차인원,9월_하차인원,10월_승차인원,10월_하차인원,11월_승차인원,11월_하차인원,12월_승차인원,12월_하차인원
473,2019,종로3가,1호선,11867717,11184463,1061531.0,1009208.0,897965.0,852361.0,1085108.0,...,461761.0,441933.0,917113.0,857743.0,1079746.0,1002525.0,1029058.0,966289.0,1096445.0,1036667.0
540,2019,종로3가,3호선,3802442,4880524,341239.0,448981.0,284839.0,381763.0,344919.0,...,143180.0,187053.0,292550.0,369947.0,343136.0,430268.0,335689.0,419187.0,347001.0,448466.0
24,2019,종로3가,5호선,6060074,5901053,566409.0,539925.0,425680.0,409474.0,527312.0,...,502535.0,488117.0,449466.0,439669.0,530511.0,530081.0,505041.0,482805.0,540478.0,516948.0
593,2020,종로3가,1호선,7973503,7490908,992092.0,943002.0,728589.0,692788.0,562310.0,...,576319.0,552178.0,548712.0,506907.0,674362.0,624300.0,674691.0,622990.0,498149.0,455737.0
660,2020,종로3가,3호선,2857562,3460175,317846.0,396718.0,261828.0,312210.0,223886.0,...,217895.0,264920.0,204733.0,244907.0,231422.0,294043.0,244211.0,296325.0,200175.0,229136.0
181,2020,종로3가,5호선,3070740,3055407,313651.0,297501.0,206382.0,198380.0,246912.0,...,213723.0,212727.0,246630.0,250238.0,284146.0,288856.0,257191.0,248756.0,211393.0,209770.0
713,2021,종로3가,1호선,2455317,2249212,498006.0,454655.0,573743.0,525567.0,699977.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
780,2021,종로3가,3호선,916303,1082425,194226.0,225014.0,210905.0,253039.0,257271.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
338,2021,종로3가,5호선,439242,429240,232975.0,227835.0,206267.0,201405.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [170]:
df_total_dts2

,연도,역명,호선,합계_승차인원,합계_하차인원,1월_승차인원,1월_하차인원,2월_승차인원,2월_하차인원,3월_승차인원,...,8월_승차인원,8월_하차인원,9월_승차인원,9월_하차인원,10월_승차인원,10월_하차인원,11월_승차인원,11월_하차인원,12월_승차인원,12월_하차인원
475,2019,동대문,1호선,5169093,5706235,430681.0,468883.0,390754.0,434399.0,485481.0,...,193213.0,214166.0,423164.0,468057.0,460523.0,508093.0,449462.0,491955.0,472332.0,522171.0
479,2019,동묘앞,1호선,3848084,4073455,315909.0,331312.0,302401.0,326324.0,373033.0,...,141289.0,146383.0,312715.0,328893.0,350241.0,371252.0,337823.0,356654.0,332755.0,349433.0
470,2019,서울역,1호선,19745539,18722104,1685377.0,1565402.0,1501880.0,1406839.0,1775410.0,...,774806.0,753977.0,1581363.0,1506704.0,1790088.0,1704534.0,1791702.0,1704479.0,1825036.0,1718629.0
471,2019,시청,1호선,8974415,9123130,752881.0,750975.0,612726.0,606426.0,791485.0,...,349943.0,356141.0,696110.0,706568.0,899630.0,946290.0,835339.0,856441.0,867880.0,876500.0
476,2019,신설동,1호선,5543510,5404401,472874.0,460741.0,400714.0,391034.0,515401.0,...,202826.0,196577.0,442906.0,430461.0,505124.0,491931.0,497770.0,483721.0,501868.0,485077.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
927,2021,서울역,공항철도,2126750,0,456701.0,NaN,481869.0,NaN,596753.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
935,2021,운서,공항철도,639392,0,142810.0,NaN,143561.0,NaN,175596.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
937,2021,인천국제공항,공항철도,360219,0,91114.0,NaN,86837.0,NaN,93488.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
934,2021,청라국제도시,공항철도,667704,0,149031.0,NaN,148177.0,NaN,185996.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
929,2021,홍대입구,공항철도,2541698,0,527741.0,NaN,602094.0,NaN,711011.0,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN

In [171]:
df_total_dts2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 938 entries, 475 to 929
Data columns (total 29 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연도        938 non-null    int64
 1   역명        938 non-null    object
 2   호선        938 non-null    object
 3   합계_승차인원   938 non-null    int64
 4   합계_하차인원   938 non-null    int64
 5   1월_승차인원   937 non-null    float64
 6   1월_하차인원   905 non-null    float64
 7   2월_승차인원   937 non-null    float64
 8   2월_하차인원   905 non-null    float64
 9   3월_승차인원   937 non-null    float64
 10  3월_하차인원   905 non-null    float64
 11  4월_승차인원   937 non-null    float64
 12  4월_하차인원   905 non-null    float64
 13  5월_승차인원   937 non-null    float64
 14  5월_하차인원   905 non-null    float64
 15  6월_승차인원   937 non-null    float64
 16  6월_하차인원   905 non-null    float64
 17  7월_승차인원   937 non-null    float64
 18  7월_하차인원   905 non-null    float64
 19  8월_승차인원   937 non-null    float64
 20  8월_하차인원   905 non-null    float64
 21  9월_승차인원   937 non-null    float64
 22  9월_하차인원   905 non-null    float64
 23  10월_승차인원  937 non-null    float64
 24  10월_하차인원  905 non-null    float64
 25  11월_승차인원  937 non-null    float64
 26  11월_하차인원  905 non-null    float64
 27  12월_승차인원  937 non-null    float64
 28  12월_하차인원  905 non-null    float64
dtypes: float64(24), int64(3), object(2)
memory usage: 252.1+ KB

In [172]:
# 결측값 NaN 데이터 처리 모두 0으로 변경
df_total_dts2.fillna(0, inplace=True)

In [173]:
df_total_dts2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 938 entries, 475 to 929
Data columns (total 29 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연도        938 non-null    int64
 1   역명        938 non-null    object
 2   호선        938 non-null    object
 3   합계_승차인원   938 non-null    int64
 4   합계_하차인원   938 non-null    int64
 5   1월_승차인원   938 non-null    float64
 6   1월_하차인원   938 non-null    float64
 7   2월_승차인원   938 non-null    float64
 8   2월_하차인원   938 non-null    float64
 9   3월_승차인원   938 non-null    float64
 10  3월_하차인원   938 non-null    float64
 11  4월_승차인원   938 non-null    float64
 12  4월_하차인원   938 non-null    float64
 13  5월_승차인원   938 non-null    float64
 14  5월_하차인원   938 non-null    float64
 15  6월_승차인원   938 non-null    float64
 16  6월_하차인원   938 non-null    float64
 17  7월_승차인원   938 non-null    float64
 18  7월_하차인원   938 non-null    float64
 19  8월_승차인원   938 non-null    float64
 20  8월_하차인원   938 non-null    float64
 21  9월_승차인원   938 non-null    float64
 22  9월_하차인원   938 non-null    float64
 23  10월_승차인원  938 non-null    float64
 24  10월_하차인원  938 non-null    float64
 25  11월_승차인원  938 non-null    float64
 26  11월_하차인원  938 non-null    float64
 27  12월_승차인원  938 non-null    float64
 28  12월_하차인원  938 non-null    float64
dtypes: float64(24), int64(3), object(2)
memory usage: 252.1+ KB

In [179]:
# 최종
df_total_dts2.to_csv("metro_total_v01_210812.csv", encoding="utf-8", index=None)