In [2]:
import pandas as pd

In [12]:
covid_19=pd.read_excel('./data2/pdata/s_covid_19.xlsx')

In [33]:
covid_20 = []
covid_21 = []
covid20=covid_19[covid_19['확진일'].dt.year == 2020]
for i in range(1, 13):
    covid_20.append(len(covid20[covid20['확진일'].dt.month == i]))
covid21 = covid_19[covid_19['확진일'].dt.year==2021]
for i in range(1, 13):
    covid_21.append(len(covid21[covid21['확진일'].dt.month == i]))

print(covid_20)
print(covid_21)

[7, 80, 391, 156, 229, 459, 281, 2415, 1306, 733, 2904, 10432]
[4878, 4060, 3898, 5803, 6030, 6258, 14507, 5004, 0, 0, 0, 0]

In [34]:
r2020=0
r2021=0
for i in covid_20:
    r2020 += i
covid_20.append(r2020)

for i in covid_21:
    r2021 += i
covid_21.append(r2021)
print(covid_20)
print(covid_21)

[7, 80, 391, 156, 229, 459, 281, 2415, 1306, 733, 2904, 10432, 19393]
[4878, 4060, 3898, 5803, 6030, 6258, 14507, 5004, 0, 0, 0, 0, 50438]

In [40]:
df = pd.DataFrame({'2020':covid_20, '2021':covid_21},index=['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월','총합'])
df=df.T
df

,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,총합
2020,7,80,391,156,229,459,281,2415,1306,733,2904,10432,19393
2021,4878,4060,3898,5803,6030,6258,14507,5004,0,0,0,0,50438

In [41]:
df.to_excel("covid_19(월별확진자).xlsx")

In [42]:
co1 = 0 # 3~8 1단계
co2 = 0 # 9월 2단계
co3 = 0 # 10 ~ 11 1단계
co4 = 0 # 12 ~ 21.02  2.5단계
co5 = 0 # 3 ~ 6 2단계
for i in range(1, 13):
    if i >= 3 and i<=8:
        co1 += (len(covid20[covid20['확진일'].dt.month == i]))
    elif i == 9:
        co2 += (len(covid20[covid20['확진일'].dt.month == i]))
    elif i >= 10 and i<=11:
        co3 += (len(covid20[covid20['확진일'].dt.month == i]))
    elif i == 12:
        co4 += (len(covid20[covid20['확진일'].dt.month == i]))
for i in range(1, 13):
    if i == 1 or i == 2:
        co4 += len(covid21[covid21['확진일'].dt.month == i])
    elif i > 2 and i<7:
        co5 +=len (covid21[covid21['확진일'].dt.month == i])

In [43]:
print(co1)
print(co2)
print(co3)
print(co4)
print(co5)

3931
1306
3637
19370
21989

In [53]:
df=pd.DataFrame({"1단계(20.3~20.8)" : co1,"2단계(20.9)" : co2,"1단계(20.10-20.11)" : co3,"2.5단계(20.12-21.2)": co4,"2단계(21.3-21.6)" : co5 }, index=["확진자"])
df.to_excel("단계별확진자.xlsx")