In [2]:
bike2021=pd.read_excel("2021bike.xlsx")
bike2020=pd.read_excel("2020bike.xlsx")
bike2019=pd.read_excel("2019bike.xlsx")

In [1]:
import pandas as pd

In [38]:
b2021 = []
r2021=0
r2021_a = 0
for i in range(1, 13):
    bike21_1=bike2021[bike2021['대여일자'].dt.month == i]
    b2021.append(bike21_1['대여건수'].sum())
    
for i in range(len(b2021)):
    if i <= 5:
        r2021_a += b2021[i] #6d월 까지합
    r2021 += b2021[i] #1년합
b2021.append(r2021)
b2021.append(r2021_a)

b2021

[812021,
 1179603,
 2184228,
 2972156,
 2950150,
 3377858,
 0,
 0,
 0,
 0,
 0,
 0,
 13476016,
 13476016]

In [39]:
b2020=[]
r2020=0
r2020_a=0
b2019=[]
r2019=0
r2019_a=0
for i in range(1, 13):
    bike20_1=bike2020[bike2020['대여일자'].dt.month == i]
    b2020.append(bike20_1['대여 건수'].sum())
for i in range(len(b2020)):
    if i <= 5:
        r2020_a += b2020[i]
    r2020 += b2020[i]
b2020.append(r2020)
b2020.append(r2020_a)
print(b2020)
b2019=[]
r2019=0

for i in range(1, 13):
    bike19_1=bike2019[bike2019['대여일자'].dt.month == i]
    b2019.append(bike19_1['대여건수'].sum())
for i in range(len(b2019)):
    if i <= 5:
        r2019_a += b2019[i]
    r2019 += b2019[i]
b2019.append(r2019)
b2019.append(r2019_a)

print(b2019)

[794162, 762274, 1533535, 2157390, 2480330, 2770858, 2582511, 1733973, 2811990, 2891618, 1990070, 1196309, 23705020, 10498549]
[495573, 471543, 904819, 1468000, 2232895, 2293879, 2164086, 2101184, 2084222, 2436401, 1537269, 882078, 19071949, 7866709]

In [43]:
df = pd.DataFrame({'2019':b2019, '2020':b2020, '2021':b2021}, index=['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월','총합','6월까지합'])
df=df.T
df

,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,총합,6월까지합
2019,495573,471543,904819,1468000,2232895,2293879,2164086,2101184,2084222,2436401,1537269,882078,19071949,7866709
2020,794162,762274,1533535,2157390,2480330,2770858,2582511,1733973,2811990,2891618,1990070,1196309,23705020,10498549
2021,812021,1179603,2184228,2972156,2950150,3377858,0,0,0,0,0,0,13476016,13476016