In [11]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt, mpld3 
%matplotlib inline
import json
import datetime

In [12]:
from shapely.geometry import Polygon, mapping
# import geopandas as gpd
import folium
from folium.plugins import TimeSliderChoropleth

In [19]:
df=pd.read_csv('버스_이용자현황_2019_2021.csv', encoding='cp949')

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823775 entries, 0 to 823774
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  823775 non-null  int64
 1   사용월         823775 non-null  int64
 2   노선번호        823775 non-null  object
 3   역명          823775 non-null  object
 4   승차총승객수      823775 non-null  int64
 5   하차총승객수      823775 non-null  int64
dtypes: int64(4), object(2)
memory usage: 37.7+ MB

In [23]:
df_bus=df.iloc[:, 1:]

In [24]:
df_bus

           사용월  노선번호         역명  승차총승객수  하차총승객수
0       201901   100     KT용산지사    2943    4403
1       201901   100        갈월동    4239    4139
2       201901   100    골마을근린공원    7510    1983
3       201901   100       광장시장    1699    5064
4       201901   100        광희동    1494    1358
...        ...   ...        ...     ...     ...
823770  202107  중랑02  지하철7호선면목역   26862   19039
823771  202107  중랑02  진로아파트앞.종점    3025    5383
823772  202107  중랑02  진주빌라.바다약국   11904    7962
823773  202107  중랑02   하나은행면목지점    5045    6431
823774  202107  중랑02    한신아파트후문    5111    1966

[823775 rows x 5 columns]

In [15]:
# m=folium.Map(location=[37.57, 126.98], zoom_start=11, tiles='cartodbpositron')

In [ ]:
# def geoJson_load():
#     seoul_sgg_geo=json.load(open("../02.data/seoul_sgg_geo.json", encoding='utf-8'))
#     return seoul_sgg_geo

In [ ]:
# 버스데이터에 자치구가 없어 데이터를 추가적으로 수집하여 가공하는 작업 수행 
# 버스정류장위치 데이터 + 버스 이용현황 
# 버스정류장에서 자치구 ID 추출하여 join 
# 버스정류장 월별 자치구별 승하차 인원 합계추출

In [25]:

df_bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823775 entries, 0 to 823774
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   사용월     823775 non-null  int64
 1   노선번호    823775 non-null  object
 2   역명      823775 non-null  object
 3   승차총승객수  823775 non-null  int64
 4   하차총승객수  823775 non-null  int64
dtypes: int64(3), object(2)
memory usage: 31.4+ MB

In [29]:
df_bus.columns

Index(['사용월', '노선번호', '역명', '승차총승객수', '하차총승객수'], dtype='object')

In [31]:
# ['사용월', '노선번호', '역명', '승차총승객수', '하차총승객수']
df_bus.rename(columns={"역명" : "정류소명"}, inplace = True)

In [32]:
df_bus

           사용월  노선번호       정류소명  승차총승객수  하차총승객수
0       201901   100     KT용산지사    2943    4403
1       201901   100        갈월동    4239    4139
2       201901   100    골마을근린공원    7510    1983
3       201901   100       광장시장    1699    5064
4       201901   100        광희동    1494    1358
...        ...   ...        ...     ...     ...
823770  202107  중랑02  지하철7호선면목역   26862   19039
823771  202107  중랑02  진로아파트앞.종점    3025    5383
823772  202107  중랑02  진주빌라.바다약국   11904    7962
823773  202107  중랑02   하나은행면목지점    5045    6431
823774  202107  중랑02    한신아파트후문    5111    1966

[823775 rows x 5 columns]

In [27]:
df_bus_lct=pd.read_csv("서울시버스정류소좌표데이터(2021.01.14.).csv", encoding='cp949')

In [28]:
df_bus_lct

            표준ID  ARS-ID           정류소명         X좌표        Y좌표
0      100000001    1001        종로2가사거리  126.987786  37.569764
1      100000002    1002    창경궁.서울대학교병원  126.996520  37.579179
2      100000003    1003      명륜3가.성대입구  126.998290  37.582709
3      100000004    1004       종로2가.삼일교  126.987507  37.568582
4      100000005    1005  혜화동로터리.여운형활동터  127.001694  37.586230
...          ...     ...            ...         ...        ...
10916  124000334   25995          우성아파트  127.139326  37.550442
10917  124000333   25996          우성아파트  127.140052  37.550620
10918  124000332   25997           조일약국  127.123477  37.533686
10919  124000331   25998           성내시장  127.125410  37.536199
10920  124000330   25999    천호우체국.로데오거리  127.127354  37.540390

[10921 rows x 5 columns]

In [34]:
df_bus_total=pd.merge(left = df_bus, right= df_bus_lct, how = 'inner', on = '정류소명')

In [39]:
df_bus_total.to_csv("서울시버스현황및노선정보.csv", encoding='cp949')

In [56]:
arsid2dong = { '1' : '종로구', '2' : '중구', '3' : '용산구', '4' : '성동구', '5' : '광진구', '6' : '동대문구', '7' : '중랑구', '8' : '성북구', '9' : '강북구', '10' : '도봉구',
'11' : '노원구', '12' : '은평구', '13' : '서대문구', '14' : '마포구', '15' : '양천구', '16' : '강서구', '17' : '구로구', '18' : '금천구', '19' : '영등포구', '20' : '동작구', '21' : '관악구',
'22' : '서초구', '23' : '강남구', '24' : '송파구', '25' :'강동구'}

In [44]:
list_arsid=list(set(df_bus_total['ARS-ID']))

In [55]:
# list_arsid
for key, val in arsid2dong.items():
    print(key, val)

1 종로구
2 중구
3 용산구
4 성동구
5 광진구
6 동대문구
7 중랑구
8 성북구
9 강북구
10 도봉구
11 노원구
12 은평구
13 서대문구
14 마포구
15 양천구
16 강서구
17 구로구
18 금천구
19 영등포구
20 동작구
21 관악구
22 서초구
23 강남구
24 송파구
25 강동구

In [119]:
df_arsid = pd.DataFrame([arsid2dong])

In [120]:
df_arsid=df_arsid.T.reset_index()

In [121]:
df_arsid.columns=['자치구ID', '자치구명']

In [122]:
df_arsid

   자치구ID  자치구명
0      1   종로구
1      2    중구
2      3   용산구
3      4   성동구
4      5   광진구
5      6  동대문구
6      7   중랑구
7      8   성북구
8      9   강북구
9     10   도봉구
10    11   노원구
11    12   은평구
12    13  서대문구
13    14   마포구
14    15   양천구
15    16   강서구
16    17   구로구
17    18   금천구
18    19  영등포구
19    20   동작구
20    21   관악구
21    22   서초구
22    23   강남구
23    24   송파구
24    25   강동구

In [57]:
# for arsid in list_arsid:
#     if len(str(arsid)) == 4:
#         print("4자리 arsid ", arsid)
#         print(str(arsid)[:1])
#     else:
#         print("4자리 이상 arsid", arsid)
#         print(str(arsid)[:2])

In [106]:
df_bus_total.dtypes

사용월         int64
노선번호       object
정류소명       object
승차총승객수      int64
하차총승객수      int64
표준ID        int64
ARS-ID     object
X좌표       float64
Y좌표       float64
dtype: object

In [67]:
df_bus_total=df_bus_total.astype({'ARS-ID':'str'})

In [84]:
df_bus_total[df_bus_total['ARS-ID'].str.len() == 4]['ARS-ID'].str[:1]

0          3
1          3
2          3
3          3
4          3
          ..
1416061    5
1416062    5
1416063    5
1416064    5
1416105    2
Name: ARS-ID, Length: 418963, dtype: object

In [100]:
idx=df_bus_total[df_bus_total['ARS-ID'].str.len() == 4].index

In [102]:
idx

Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            1416056, 1416057, 1416058, 1416059, 1416060, 1416061, 1416062,
            1416063, 1416064, 1416105],
           dtype='int64', length=418963)

In [114]:
idx2=df_bus_total[df_bus_total['ARS-ID'].str.len() > 4].index

In [115]:
idx2

Int64Index([   3151,    3152,    3153,    3154,    3155,    3156,    3157,
               3158,    3159,    3160,
            ...
            1416098, 1416099, 1416100, 1416101, 1416102, 1416103, 1416104,
            1416106, 1416107, 1416108],
           dtype='int64', length=997146)

In [107]:
df_bus_total.loc[idx, '자치구ID'] = df_bus_total[df_bus_total['ARS-ID'].str.len() == 4]['ARS-ID'].str[:1]

In [116]:
df_bus_total.loc[idx2, '자치구ID'] = df_bus_total[df_bus_total['ARS-ID'].str.len() > 4]['ARS-ID'].str[:2]

In [117]:

df_bus_total[df_bus_total['ARS-ID'].str.len() == 4]['ARS-ID'].str[:1]

# for key, val in arsid2dong.items():
#     if key == df_bus_total[df_bus_total['ARS-ID'].str.len() == 4]['ARS-ID'].str[:1]:
#         print(df_bus_total[df_bus_total['ARS-ID'].str.len() == 4]['ARS-ID'].str[:1])
#         print(key)

0          3
1          3
2          3
3          3
4          3
          ..
1416061    5
1416062    5
1416063    5
1416064    5
1416105    2
Name: ARS-ID, Length: 418963, dtype: object

In [123]:
# df_bus_total
# af_arsid

df_bus_jachi=pd.merge(left=df_bus_total, right=af_arsid, how='inner', on='자치구ID')

In [125]:
df_bus_jachi.to_csv('버스_위치_행정구_현황.csv', encoding='cp949')

In [126]:
df_bus_jachi.columns

Index(['사용월', '노선번호', '정류소명', '승차총승객수', '하차총승객수', '표준ID', 'ARS-ID', 'X좌표',
       'Y좌표', '자치구ID', '자치구명'],
      dtype='object')

In [128]:
df_modibus=df_bus_jachi[['사용월', '승차총승객수', '하차총승객수', '자치구명']]

In [130]:
df_modibus=df_modibus.groupby(['자치구명', '사용월']).sum(['승차총승객수', '하차총승객수'])

In [137]:
df_modibus.columns

Index(['승차총승객수', '하차총승객수'], dtype='object')

In [135]:
df_modi=df_modibus.reset_index()

In [138]:
df_modi.to_csv('버스_2019_2021_이용현황(가공).csv', encoding='cp949')