In [2]:
import pandas as pd 
import numpy as np

In [3]:
import os 
os.getcwd()

'c:\\Users\\JSSON\\JS_Python\\02.team_project_data'

In [4]:
# 해당 위치의 모든 파일명을 list 형태로 가져옴 
fd_filenm = os.listdir("./02.data/서울시_지하철호선별_역별_승하차_인원_정보/")

In [5]:
# 확장자가 csv인 경우에만 리스트에 담도록 하는 구문
fd_filenm=[filenm for filenm in fd_filenm if filenm[-3:]=='csv']
fd_filenm

['CARD_SUBWAY_MONTH_201901.csv',
 'CARD_SUBWAY_MONTH_201902.csv',
 'CARD_SUBWAY_MONTH_201903.csv',
 'CARD_SUBWAY_MONTH_201904.csv',
 'CARD_SUBWAY_MONTH_201905.csv',
 'CARD_SUBWAY_MONTH_201906.csv',
 'CARD_SUBWAY_MONTH_201907.csv',
 'CARD_SUBWAY_MONTH_201908.csv',
 'CARD_SUBWAY_MONTH_201909.csv',
 'CARD_SUBWAY_MONTH_201910.csv',
 'CARD_SUBWAY_MONTH_201911.csv',
 'CARD_SUBWAY_MONTH_201912.csv',
 'CARD_SUBWAY_MONTH_202001.csv',
 'CARD_SUBWAY_MONTH_202002.csv',
 'CARD_SUBWAY_MONTH_202003.csv',
 'CARD_SUBWAY_MONTH_202004.csv',
 'CARD_SUBWAY_MONTH_202005.csv',
 'CARD_SUBWAY_MONTH_202006.csv',
 'CARD_SUBWAY_MONTH_202007.csv',
 'CARD_SUBWAY_MONTH_202008.csv',
 'CARD_SUBWAY_MONTH_202009.csv',
 'CARD_SUBWAY_MONTH_202010.csv',
 'CARD_SUBWAY_MONTH_202011.csv',
 'CARD_SUBWAY_MONTH_202012.csv',
 'CARD_SUBWAY_MONTH_202101.csv',
 'CARD_SUBWAY_MONTH_202102.csv',
 'CARD_SUBWAY_MONTH_202103.csv',
 'CARD_SUBWAY_MONTH_202104.csv',
 'CARD_SUBWAY_MONTH_202105.csv',
 'CARD_SUBWAY_MONTH_202106.csv',
 'CARD_SUBWAY_MONTH_202107.csv']

In [123]:
# pd.read_csv("./02.data/서울시_지하철호선별_역별_승하차_인원_정보/CARD_SUBWAY_MONTH_201901.csv", encoding='cp949')

In [23]:
def mergeReadCsv(arg_fnm_list):
    fd_path = './02.data/서울시_지하철호선별_역별_승하차_인원_정보/'
    df_column = ["사용일자", "노선명", "역명", "승차총객수", "하차총승객수", "등록일자"]

    err_li=[]
    dfs = pd.DataFrame()

    for fnm in arg_fnm_list:
        print(fnm)
        # f=open(fd_path+fnm, "r")
        # print(type(f), f)
        # print()
        # f.close()

        # try 문을 사용한 것은 read_csv 로 파일을 열었을때 파일의 정보는 cp949 인코딩으로 나와 있지만 실제 열리지 않는 이슈가 있음.
        # 노트패드로 해당 파일을 열었을때, 컬럼 열은 6열 데이터의 열은 7열로 되어 있었으며 "" 빈값이 작성되어 있었음.
        try:
            df = pd.read_csv(fd_path+fnm, encoding='cp949', skiprows=1)
        # 오류가 발생된 경우 
        except:
            print("오류발생:", fnm)
            err_li.append(fnm)
            df = pd.read_csv(fd_path+fnm, encoding='utf-8', skiprows=1)
            if df.shape[1] == 7:
                df = df.iloc[:, :-1]
            df.columns = df_column            
            dfs = pd.concat([dfs, df])
        # 정상적으로 read_csv 가 수행된 경우 
        else:
            # 파일을 합치는 중에 컬럼 열은 6열, 데이터는 7열인 파일이 있어서 변경하기 위해 반영
            if df.shape[1] == 7:
                df = df.iloc[:, :-1]
            df.columns = df_column
            dfs = pd.concat([dfs, df])
    print(err_li)
    return dfs

In [24]:
tot_df = mergeReadCsv(fd_filenm)

CARD_SUBWAY_MONTH_201901.csv
CARD_SUBWAY_MONTH_201902.csv
CARD_SUBWAY_MONTH_201903.csv
CARD_SUBWAY_MONTH_201904.csv
CARD_SUBWAY_MONTH_201905.csv
CARD_SUBWAY_MONTH_201906.csv
CARD_SUBWAY_MONTH_201907.csv
CARD_SUBWAY_MONTH_201908.csv
CARD_SUBWAY_MONTH_201909.csv
CARD_SUBWAY_MONTH_201910.csv
CARD_SUBWAY_MONTH_201911.csv
CARD_SUBWAY_MONTH_201912.csv
CARD_SUBWAY_MONTH_202001.csv
CARD_SUBWAY_MONTH_202002.csv
CARD_SUBWAY_MONTH_202003.csv
CARD_SUBWAY_MONTH_202004.csv
CARD_SUBWAY_MONTH_202005.csv
오류발생: CARD_SUBWAY_MONTH_202005.csv
CARD_SUBWAY_MONTH_202006.csv
오류발생: CARD_SUBWAY_MONTH_202006.csv
CARD_SUBWAY_MONTH_202007.csv
오류발생: CARD_SUBWAY_MONTH_202007.csv
CARD_SUBWAY_MONTH_202008.csv
오류발생: CARD_SUBWAY_MONTH_202008.csv
CARD_SUBWAY_MONTH_202009.csv
CARD_SUBWAY_MONTH_202010.csv
오류발생: CARD_SUBWAY_MONTH_202010.csv
CARD_SUBWAY_MONTH_202011.csv
오류발생: CARD_SUBWAY_MONTH_202011.csv
CARD_SUBWAY_MONTH_202012.csv
오류발생: CARD_SUBWAY_MONTH_202012.csv
CARD_SUBWAY_MONTH_202101.csv
오류발생: CARD_SUBWAY_MONTH_202101.csv
CARD_SUBWAY_MONTH_202102.csv
오류발생: CARD_SUBWAY_MONTH_202102.csv
CARD_SUBWAY_MONTH_202103.csv
오류발생: CARD_SUBWAY_MONTH_202103.csv
CARD_SUBWAY_MONTH_202104.csv
오류발생: CARD_SUBWAY_MONTH_202104.csv
CARD_SUBWAY_MONTH_202105.csv
오류발생: CARD_SUBWAY_MONTH_202105.csv
CARD_SUBWAY_MONTH_202106.csv
오류발생: CARD_SUBWAY_MONTH_202106.csv
CARD_SUBWAY_MONTH_202107.csv
오류발생: CARD_SUBWAY_MONTH_202107.csv
['CARD_SUBWAY_MONTH_202005.csv', 'CARD_SUBWAY_MONTH_202006.csv', 'CARD_SUBWAY_MONTH_202007.csv', 'CARD_SUBWAY_MONTH_202008.csv', 'CARD_SUBWAY_MONTH_202010.csv', 'CARD_SUBWAY_MONTH_202011.csv', 'CARD_SUBWAY_MONTH_202012.csv', 'CARD_SUBWAY_MONTH_202101.csv', 'CARD_SUBWAY_MONTH_202102.csv', 'CARD_SUBWAY_MONTH_202103.csv', 'CARD_SUBWAY_MONTH_202104.csv', 'CARD_SUBWAY_MONTH_202105.csv', 'CARD_SUBWAY_MONTH_202106.csv', 'CARD_SUBWAY_MONTH_202107.csv']

In [8]:
# 엑셀 파일로 생성하여 확인
g_path = './02.data/서울시_지하철호선별_역별_승하차_인원_정보/'
tot_df.to_excel(g_path+"교통카드선후불_통합.xlsx", encoding='cp949')

In [27]:
# 테스트
# csv 파일을 불러오던 도중 컬럼을 제외하고 데이터 행에서 갑자기 7열인 파일이 존재함 ... 조건문 생성 
edf = pd.read_csv("./02.data/서울시_지하철호선별_역별_승하차_인원_정보/CARD_SUBWAY_MONTH_202009.csv", encoding='cp949', skiprows=1)
# f=open("./02.data/서울시_지하철호선별_역별_승하차_인원_정보/CARD_SUBWAY_MONTH_202005.csv", encoding='utf-8')
# dd=f.read()
# print(f, dd)
# f.close()
# f=open()
# if 'cp949' in f:
#     print(f)
# f.close()
# edf

In [17]:
dfshape = edf.shape

In [18]:
# dfshape[1]

7

In [28]:
edf=edf.iloc[:, :-1]
# edf

In [22]:
# edf.insert(0, 'index', edf.index)
# edf

In [24]:
# df_column = ["사용일자", "노선명", "역명", "승차총객수", "하차총승객수", "등록일자"]
# edf.columns = df_column

In [25]:
# edf=edf.iloc[:, :-1]

In [26]:
# edf

In [109]:
tot_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 559977 entries, 0 to 18630
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   사용일자    559977 non-null  int64
 1   노선명     559977 non-null  object
 2   역명      559977 non-null  object
 3   승차총객수   559977 non-null  float64
 4   하차총승객수  559977 non-null  float64
 5   등록일자    559977 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 46.0+ MB

In [54]:
# tot_df 데이터의 사용일자 년월일 데이터에서 일자를 제거 하고 월까지만 자르기 작업 
tot_df.dtypes

사용일자        int64
노선명        object
역명         object
승차총객수     float64
하차총승객수    float64
등록일자        int64
dtype: object

In [110]:
# int64 -> str 로 타입 변경 
dff=tot_df.astype({'사용일자': 'str'})

In [111]:
# 201901xx 의 xx 부분을 제이하고 월만 추출하여 저장
dff['사용일자'] = dff['사용일자'].str[:-2]

In [115]:
dff.columns

Index(['사용일자', '노선명', '역명', '승차총객수', '하차총승객수', '등록일자'], dtype='object')

In [119]:
# 불필요한 등록일자 컬럼 제외 droup 도 가능 
# dff=dff.iloc[:, :-1] # .groupby(['사용일자', '노선명', '역명', '승차총객수', '하차총승객수']).sum()
dff=dff.drop(['등록일자'], axis=1)

In [120]:
dff

         사용일자  노선명            역명    승차총객수   하차총승객수
0      201901  2호선         을지로3가   8104.0   7554.0
1      201901  2호선         을지로입구  22478.0  21330.0
2      201901  2호선            시청   8381.0   6049.0
3      201901  1호선           동묘앞   8045.0   8504.0
4      201901  1호선  청량리(서울시립대입구)  15007.0  15397.0
...       ...  ...           ...      ...      ...
18626  202107  경원선  청량리(서울시립대입구)  11320.0  13138.0
18627  202107  경원선           외대앞   4261.0   4279.0
18628  202107  경원선           신이문   4666.0   4313.0
18629  202107  2호선     용두(동대문구청)   1292.0   1364.0
18630  202107  2호선         신정네거리   5350.0   5383.0

[559977 rows x 5 columns]

In [91]:
# 201901 월만 추출해서 groupby 테스트
dff_2019=dff[dff['사용일자'] == '201901']

In [98]:
# 사용일자별, 노선명별, 역명별 합계
dfff = dff_2019.groupby(['사용일자', '노선명', '역명']).sum(['승차총객수', '하차총승객수'])

In [121]:
# dfff
# 전체 데이터에 반영

In [100]:
# dfff.to_excel("test_2019_승차객.xlsx", encoding='cp949')

In [107]:
# 멀티 인덱스 열로 변경된 사용일자, 노선명, 역명을 다시 컬럼으로 변경
dfff.reset_index(inplace=True)

In [122]:
# 최종형태
# dfff
# 전체 데이터에 반영

In [25]:
# 등록일자 컬럼 제거
tot_df=tot_df.drop('등록일자', axis=1)

In [27]:
# 사용일자 -> 사용월로 변경 
# 사용일자별, 노선명별, 역명별 승차총객수 하차총승객수 합계
modi_df=tot_df.astype({'사용일자': 'str'})

In [28]:
modi_df['사용일자']=modi_df['사용일자'].str[:-2]

In [33]:
# 특정컬러명 변경 inplace True 는 해당 dataframe 에 반영여부
modi_df.rename(columns={'사용일자': '사용월'}, inplace=True)

In [37]:
modi_df=modi_df.groupby(['사용월', '노선명', '역명']).sum(['승차총객수', '하차총승객수'])

In [42]:
modi_df.reset_index(inplace=True)

In [44]:
# 파일저장
modi_df.to_excel('지하철_선후불카드_이용객현황.xlsx', encoding='cp949')